<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% comment %} ... all your existing meta tags here ... {% endcomment %}

    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} RSS" href="/feed.xml" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    
    {% comment %} ... all your existing link tags here ... {% endcomment %}
</head>
<body>
    
    <div class="site-container"> 
        
        <div class="sidebar">
            
            <h1><a id="author-name" href="{{ site.url }}{{ site.baseurl }}">{{ site.title }}</a></h1>
            
            {% if site.ins_logo %}
                <img id="ins-logo" src="{{ site.ins_logo }}" alt="Institution Logo" />
            {% endif %}

            <img class="profile-picture" src="{{ site.baseurl }}/soumik.jpg" alt="Soumik Ghosh Profile Picture">
            
            <p class="bio-text">Software Engineer & Researcher</p>

            <hr>
            
            <ul id="navlist" class="navbar-ul">
                {% for x in site.nav %}
                    <li class="nav-list">
                    {% if x.name == "CV" %}
                        <a target="_blank" href="{{ x.link }}">{{ x.name }}</a>
                    {% else %}
                        <a href="{{ x.link }}">{{ x.name }}</a>
                    {% endif %}
                    </li>
                {% endfor %}
            </ul>
            
            <hr>
            
            <div class="social-icons">
                <a href="mailto:your.email@example.com" title="Email"><i class="fas fa-envelope"></i></a>
                <a href="{{ site.footer_url }}" title="GitHub"><i class="fab fa-github"></i></a>
                <a href="https://linkedin.com/in/yourprofile" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
            </div>
            
            <p class="footer-small">{{ site.footer_text | split: ". Powered" | first }}</p>

        </div> 
        
        <div class="content-wrapper">
            <div class="container content">
                {{ content }}
                
                {% if site.footer == true %}
                    <hr />
                    <p style="text-align: center; margin-bottom: 10px">
                    <a href="{{ site.footer_url }}" style="color: black"><small>{{ site.footer_text }}</small></a>
                    </p>
                {% endif %}
            </div>
        </div>
        
    </div>
    
    {% comment %} ... all your existing scripts here ... {% endcomment %}

</body>
<footer>
</footer>
</html>